/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/uploaded_item/img
/public/uploaded_po/file
/public/uploaded_memo/file
/public/email_template_img/img
/public/uploaded_item/send_test_images
/public/e_gift_card
/app/Jobs/ApiFetchCampaignDataJob.php
/app/Jobs/GCListFetchJob.php