* {
    font-family: system-ui;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

body, html{
    height: 100% !important;
    background: #181B20;
}

.customer-section{
    display: flex;
    align-items: center;
    height: 100%;
}

.customer-box{
    width: 100%;
    max-width: 1200px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    background: #f5f5f5; /* Light gray background */
    border-radius: 10px;
    margin: auto;
}

.customer-box-logos{
    /* height: 75px; */
    width: 100%;
    /* background-color: #359D9D; */
    /* display: flex; */
    /* justify-content: center; */
    text-align: center;
    border-bottom: 1px solid black;
}

.customer-box-logos img{
    object-fit: contain;
    height: 100px;
    width: 100%;
}

.customer-box-content{
    height: 100%;
    padding: 50px;
}

.customer-box-content1{
    /* display: none; */
    height: 100%;
    padding: 0 50px 50px 50px;
}
.customer-box-header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.customer-box-header-select{
    margin-left: 20px;
    position: relative;
}
.search-select{
    width: 300px;

}
#select-note{
    position: absolute;
    top: -25px;
    left: 50px;
    font-style: italic;
    margin-bottom: 10px;
}
.customer-box-header{
    color: #202226;
    font-weight: 600;
    font-size: 1.1rem;
}

.inputs{
    height: 37px;
    width: 100%;
    border: 1px solid #b1b0b0;
    border-top: 3px solid #b1b0b0;
    padding: 0 10px;
    border-radius: 5px;
    color: #3c3b3b;
    font-size: .9rem;
}

.inputs:read-only {
    background-color: #eeeeee;
}

.inputs:focus {
    border: 1px solid #359D9D;
    outline: none;
}

.inputs::placeholder{
    font-size: .9rem;
}

.customer-box-footer{
    text-align: right;
    padding: 15px 50px;
    background-color: #eee;
    border-top: 1px solid #20222630;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.btn{
    padding: 10px 25px;
    font-weight: bold;
    color: #fff;
    border: none;
    cursor: pointer;
}

#btn-submit{
    background-color: #3873b3;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-right: 10px;
}

#btn-submit:hover{
    opacity: 0.7;
}

.egc-checkbox-content{
    display: flex;
    align-items: center;
}

.egc-checkbox-content label{
    color: #3c3b3b;
    font-weight: bold;
    cursor: pointer;
}
.egc-checkbox-content input{
    margin-top: 1px;
    margin-right: 5px;
    vertical-align: middle;
    cursor: pointer;
}




@media only screen and (max-width: 600px) {
    body {
        background-color: #F5F5F5;
    }

    .customer-section{
        /* display: flex;
        align-items: center; */
        height: auto;
    }

    .customer-box{
        box-shadow: none;
        background: #f5f5f5; /* Light gray background */
    }

    .customer-box-content, .customer-box-content1{
        padding: 15px;
    }

    .customer-box-footer{
        text-align: right;
        padding: 15px;
        background-color: #f5f5f5;
        border-top: none;
    }

    #btn-submit{
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        margin-right: 10px;
    }
}

.modal-success {
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    animation: fadeIn 1s ease;
}

.modal-box {
    margin: 10px;
    width: 100%;
    max-width: 500px;
    background-color: #fff;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.modal-header{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #181B20;
    padding: 15px 10px;
    color: #fff;
}

.custom_sm_normal_table{
    /* width: 100%; */
    border-collapse: collapse;
}

.custom_sm_normal_table th, .custom_sm_normal_table td {
    text-align: left;
    width: 235px;
    font-size: 14px;
}

.custom_sm_normal_table td{
    padding: 10px;
}

.custom_sm_normal_table tr td:nth-child(odd){
    font-weight: bold;
    color: #4d4b4b !important;
}

.custom_normal_table{
    width: 100%;
    border-collapse: collapse;
}

.custom_normal_table th, .custom_normal_table td {
    text-align: left;
    width: 300px;
    font-size: 14px;
}

.custom_normal_table td{
    padding: 10px;
}

.custom_normal_table td p{
    font-weight: bold;
    color: #4d4b4b !important;
    margin-bottom: 10px;
    font-size: 1rem;
}

.custom_table {
    width: 100%;
    border-collapse: collapse;
    background-color: #f9f9f9;
    border-radius: 5px !important;
}

.custom_table th, .custom_table td {
    border: 1px solid #ddd;
    text-align: left;
    width: 300px;
    font-size: 14px;
}

.custom_table td{
    padding: 10px;
}

.custom_table td p{
    font-weight: bold;
    color: #4d4b4b !important;
    margin-bottom: 10px;
    font-size: 1rem;
}

.select2-container--default .select2-selection--single {
    height: 38px;
    border: 1px solid #b1b0b0;
    border-top: 3px solid #b1b0b0 !important;
    border-radius: 4px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 36px;
    padding-left: 12px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 36px;
}

/* Use a media query to apply styles for smaller screens */
@media only screen and (max-width: 500px) {
    /* Set the table row (tr) to be displayed as a block */
    .custom_table tr, .custom_normal_table tr, .custom_sm_normal_table tr {
        display: block;
    }

    /* Hide table headers on smaller screens */
    .custom_table th, .custom_normal_table th, .custom_sm_normal_table th{
        display: none;
    }

    /* Style table data (td) for smaller screens */
    .custom_table td, .custom_normal_table td, .custom_sm_normal_table{
        display: block;
        text-align: left;
        width: 100%;
    }

    .customer-box-header-container{
        flex-direction: column;
        gap: 30px;
    }
}